
FacebookAssignment/bin/AndroidManifest.xml

facebook-android-sdk-3.14.1/facebook/bin/facebooksdk.jar

*.dex

FacebookAssignment/bin/dexedLibs/android-support-v4-14dd27a60150335d4eb2ae27f69caaa1.jar

FacebookAssignment/bin/dexedLibs/bolts-51bdad931a795a11d5be32b41f20c8fa.jar

FacebookAssignment/bin/dexedLibs/facebooksdk-43974587ded7321bb1bcce77eb05d916.jar

FacebookAssignment/bin/dexedLibs/gcm-92d16bd164f1281f51416c8241f0f315.jar

FacebookAssignment/bin/dexedLibs/google-play-services-83100f427f8fc22eb85b7d294379028a.jar

FacebookAssignment/bin/dexedLibs/google-play-services_lib-1b82bd9235ed34fa09c5d13ce83021fb.jar

FacebookAssignment/bin/FacebookAssignment.apk

*.cache

FacebookAssignment/bin/R.txt

*.ap_

*.class
